.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 480px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 80px;
}
